@import '../../assets/globals';

#play {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: opacity 500ms ease;
  opacity: 0;

  &.fade {
    opacity: 0 !important;
  }

  .exit {
    position: absolute;
    top: 5%; left: 5%;

    width: 1.5em;
    height: 1.5em;

    font-size: 1.8rem;
    color: white;

    cursor: pointer;

    z-index: 1;
  }

  .card {
    position: relative;

    height: 100%;
    max-height: 720px;
    width: 100%;
    max-width: 450px;

    padding: 3%;

    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    color: white;
    background: $accent-color;
  }

  .loader {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3rem;
  }


  /*
   * Fade animations for use with CSSTransition and SwitchTransition
   */
  .fade-enter{
    opacity: 0;
  }
  .fade-exit{
    opacity: 1;
  }
  .fade-enter-active{
    opacity: 1;
  }
  .fade-exit-active{
    opacity: 0;
  }

  .fade-enter-active {
    transition: opacity 300ms $ease-in-quart;
  }

  .fade-exit-active{
    transition: opacity 300ms $ease-out-quart;
  }

  &.mobile {
    .exit {
      top: 1%;
      left: 3%;
      font-size: 1.4rem;
    }
  }
}
