@import './assets/globals';
@import './assets/reset';

* {
  box-sizing: border-box;
  user-select: none;
}
body {
  height: 100vh;
  width: 100vw;

  margin: 0;

  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(-45deg, $background-color-1, $background-color-2, $background-color-1, $background-color-2);
  background-size: 400% 400%;
  transition: background-position 1s ease;

  &.animate {
    background-position: 90% 90%;;
  }
}

#app {
  position: relative;

  height: 100%;
  width: 100%;

  padding: 10% 5%;
}

button {
  padding: 1em;
  border-radius: 2em;
  min-width: 200px;

  font-size: 1.7rem;
  font-weight: 600;
  color: white;
  background-color: $button-color;

  cursor: pointer;

  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, opacity ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(35, 166, 213, 0.5);

  &:active:not(.disabled) {
    transform: scale(0.9);
    background-color: darken($button-color, 5%);
    box-shadow: 0 2px 25px rgba(35, 166, 213, 0.2);
  }

  &.small {
    font-size: 1.2rem;
    min-width: 160px;
  }

  &.disabled {
    opacity: 0.2;

    box-shadow: unset;

    cursor: unset;
  }
}

.no-scrollbar {
  overflow: hidden;

  > * {
    height: 100%;

    margin-right: -17px;

    overflow-y: scroll;
    overflow-x: hidden;

  }
}

.mobile .no-scrollbar > * {
  width: 100%;
}
