@import './assets/globals';

* {
  box-sizing: border-box;
  user-select: none;
}
body {
  height: 100vh;
  width: 100vw;

  margin: 0;

  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(-45deg, $background-color-1, $background-color-2, $background-color-1, $background-color-2);
  background-size: 400% 400%;
  transition: background-position 1s ease;

  &.animate {
    background-position: 90% 90%;;
  }
}

#app {
  position: relative;

  height: 100%;
  width: 100%;

  padding: 10% 5%;
}
